*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
}

.board{
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    grid-gap: 10px;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 10px;
}

.board__item{
    background-color: lightgrey;
    border-radius: 5px;
    border: 1px solid grey;
    transition: all 0.05s linear;
    cursor: pointer;
}

.board__item:hover{
    background-color: #bbb;
}
.reset-btn{
    margin-top:20px;
    padding: 10px 20px;
    border: 1px solid grey;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.05s linear;
}

.reset-btn:hover{
    background-color: #ddd;
}